<div class="section">  
  <div class="jumbotron text-center" id="work">
    <h1 class="display-4 ">Spaces For Your  HEADBOX</h1>
    <p class="lead"> The Earn while learn programme provides opportunities to the students to earn while they are learning through the part-time jobs.</p>
    <hr class="my-4">
    <p>Exposes the students to the world of work before actual employment.</p>
     <a class="btn btn-primary " href="" role="button">List Your Venue Now</a>
    
  </div>
</div>